.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer,
main {
  padding: 0 var(--section-padding);
}

.content > div {
  padding: auto;
  margin: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 17px -8px var(--tertiary-color);
}
