*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --logo-font: 2rem/2rem "Red Hat Text Bold";
  --header-font: 1.5rem/1.5rem "Red Hat Text bold";
  --primary-font: 1rem/1rem "Roboto regular";
  --paragraph-font: 0.9rem/1.5rem "Roboto italic";
  --card-font: 0.8rem/0.8rem "Roboto regular";
  --input-font: 1rem/1rem "Roboto regular";
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(13, 96, 111);
  --secondary-color-opacity: rgba(13, 96, 111, 0.5);
  --tertiary-color: rgba(242, 120, 92);
  --container-padding: 0 2rem;
  --section-padding: 3rem;
  --header-padding: 0.5rem;
  --card-padding: 1rem;
  --social-icon-padding: 0.2rem;
  --social-color: rgb(255, 255, 255, 0.4);
  --social-hover-color: rgb(255, 255, 255, 1);
  --button-primary-padding: 0.4rem 0.6rem;
  --button-primary-bg: rgba(255, 255, 255, 1);
  --button-primary-color: rgba(242, 120, 92);
  --button-hover-bg: rgba(242, 120, 92);
  --button-hover-color: rgb(255, 255, 255, 1);
  --button-primary-font: 1rem/1.1rem "Red Hat Text regular";
  --button-secondary-padding: 0.4rem;
  --button-secondary-bg: rgba(13, 96, 111);
  --button-secondary-color: rgba(242, 120, 92);
  --button-primary-font: 1rem/1.1rem "Red Hat Text regular";
  --button-radius: 10px;
  --button-primary-border: 2px solid rgba(242, 120, 92);
  --primary-transition: 0.3s;
  --title-gradient: linear-gradient(
    to right,
    var(--tertiary-color),
    var(--secondary-color)
  );
}
