.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--tertiary-color);
  box-shadow: 0px 2px 8px var(--tertiary-color);
}

.logo {
  margin: 0.5rem;
}

.nav {
  margin: auto;
  height: auto;
  align-self: stretch;
}

.login:hover {
  background-color: var(--tertiary-color);
  opacity: 0.8;
  cursor: pointer;
}

.login {
  padding: var(--card-padding);
  display: flex;
  text-decoration: none;
  color: var(--secondary-color);
}

button .outBtn {
  border: 1px solid var(--secondary-color);
}
